<div id="comments" class="section">
  {% if settings.article_comments_title_text != '' %}
    <h3>{{ settings.article_comments_title_text }}</h3>
  {% endif%}
  {% for comment in article.comments %}
    {% include 'comment' with comment %}
  {% endfor %}
</div>