<div id="customer-recover-password" class="account-session-module hide">
  <div class="inner">

  <h3>Reset Password</h3>

  <p class="note">Enter your email address below and we'll send you a link for resetting your password.</p>

  {% form 'recover_customer_password' %}

  <fieldset>

    {% if form.errors %}
    <div class="alert-box error">
      <ul class="errors-list">
        {% for field in form.errors %}
          <li>{{ form.errors.messages[field] }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <input type="email" placeholder="your@email.com" size="30" name="email" id="recover-email" />

    <div class="form-actions">
      <button type="submit" class="button">Send request</button>&nbsp;&nbsp;

      <div class="secondary-actions">
        <a href="#" id="reset-password-cancel">Cancel</a>
      </div>
    </div>

  </fieldset>

  {% endform %}

  </div>
</div>