<div class="row">
  <div class="large-12 columns{% if form.errors contains 'email' %} error{% endif %} field">
    <input type="email" name="customer[email]" id="customer_email" data-required="true" data-required-message="Email address is required"  data-type-email-message="Must be a valid email address" placeholder="Email">
  </div>
</div>