<div class="row">
  <div class="large-12 columns field">
    <input type="Password" name="customer[password_confirmation]" id="password_confirmation" data-required="true" data-required-message="Password confirmation is required" placeholder="Confirm password">
  </div>
</div>