<div class="row">
  <div class="large-12 columns{% if form.errors contains 'password' %} error{% endif %} field">
    <input type="password" name="customer[password]" id="customer_password" data-required="true" data-required-message="Password is required"placeholder="Password">
  </div>
</div>