<div id="customer-reset-password" class="account-session-module">
  <div class="inner">

  <h3>Reset Password</h3>

  <p class="note">Enter your new password below.</p>

  {% form 'reset_customer_password' %}

  <fieldset>

    {% if form.errors %}
    <div class="alert-box error">
      <ul class="errors-list">
        {% for field in form.errors %}
          <li>{{ form.errors.messages[field] }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% include 'customer-account-field-password' %}
    {% include 'customer-account-field-password-confirm' %}

    <div class="form-actions">
      <button type="submit" class="button">Reset password</button>
    </div>

  </fieldset>

  {% endform %}

  </div>
</div>