<div id="guest-login" class="account-session-module">
  <div class="inner">

    <h3>Guest Sign-in</h3>
    <p class="note">Continue checkout as a guest. No sign-up required.</p>
    {% form 'guest_login' %}
      <fieldset>
        <div class="form-actions">
          <button type="submit" class="button">Continue as Guest</button>
        </div>
      </fieldset>
    {% endform %}

  </div>
</div>