<div class="security-seal">
  <a href="http://empy.re/r/shopify" title="This online store is secured by Shopify" data-target="new-window"><img src="//cdn.shopify.com/s/images/badges/shopify-secure-badge-light-shadow.png" alt="Shopify secure badge" /></a>
</div>