<form class="form-search" name="search" action="/search">
  <input type="text" name="q" class="input-small search-query search replace" placeholder="Search">
  <!-- <button type="submit" class="btn btn-primary">Search</button> -->
</form>
