{% layout settings.customer_layout %}

{% assign has_sidebar = false %}
{% assign has_crumbs = false %}
{% include 'page-header' with 'My Account' %}
{% include 'content-wrap-open' %}
{% include 'content-open' %}

{% if shop.checkout.guest_login %}
  <div class="row">
  <div class="large-10 columns large-centered">
  <div class="row">
  <div class="large-5 columns">
  {% include 'customer-account-login' %}
  {% include 'customer-account-recover-password' %}
  </div>
  <div class="large-5 columns large-offset-2">
  {% include 'customer-account-login-guest' %}
  </div>
  </div>
  </div>
  </div>
{% else %}
  <div class="row">
  <div class="large-5 columns large-centered">
  {% include 'customer-account-login' %}
  {% include 'customer-account-recover-password' %}
  </div>
  </div>
{% endif %}


{% include 'content-close' %}
{% include 'content-wrap-close' %}